<script>
  import { columns, searches } from "./stores.js";

  export let title = "title to be defined";

  function on_click() {
    $columns[title] = !$columns[title];
  }
</script>

<button class:shown={$columns[title]} on:click={on_click}>
  {title}
  <div class:used={$searches[title] !== ""} />
</button>

<style>
  button {
    font-family: Cantarell;
    font-size: inherit;
    -webkit-padding: 0.3em 0.2em 0.1em 0.2em;
    padding: 0.3em 0.3em 0.4em 0.3em;
    margin: 0.1em 0.1em;
    border: 0px;
    border-radius: 6px;
    color: #333;
    background-color: #f4f4f4;
  }
  button:disabled {
    color: #999;
  }
  button:not(:disabled):active {
    background-color: #ddd;
  }

  button:focus {
    border-color: #666;
  }

  .shown {
    background-color: grey;
    border-color: grey;
  }
  div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .used {
    background-color: red;
  }
</style>
