<script>
  import { onMount } from "svelte";
  import { columns, searches } from "./stores.js";
  import ColumnButton from "./ColumnButton.svelte";

  export let json;
  let instances = [];
  let keys = [];
  let disp_table;
  const markdown_link = /\[([^\]]+)\]\(([^\)]+)\)/;

  $: build_table($searches);

  function build_table(search) {
    const instance_table = [];
    for (const instance of instances) {
      let display = true;
      for (const key of keys) {
        try {
          var re = new RegExp(search[key]);
        } catch (e) {
          console.warn(
            '"' + search[key] + '" is not a valid regexp => ignored'
          );
          continue;
        }
        if (!re.test(instance[key])) {
          display = false;
          break;
        }
      }
      if (display) {
        instance_table.push(instance);
      }
    }
    disp_table = instance_table;
  }

  onMount(async () => {
    const res = await fetch(json);
    instances = await res.json();
    keys = Object.keys(instances[0]);
    for (const key of keys) {
      if ($searches[key] === undefined) $searches[key] = "";
      if ($columns[key] === undefined) $columns[key] = true;
    }
    build_table($searches);
  });
</script>

<div class="container">
  <div>
    {#each keys as key}
      <div>
        <ColumnButton title={key} />
      </div>
    {/each}
  </div>

  <table>
    <thead>
      <tr>
        {#each keys as key}
          {#if $columns[key]}
            <th><input bind:value={$searches[key]} placeholder={key} /></th>
          {/if}
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each disp_table as results}
        <tr>
          {#each keys as key}
            {#if $columns[key]}
              <td>
              {#if results[key].startsWith("http")}
                <a href={results[key]}>{results[key]}</a>
              {:else if results[key].match(markdown_link)}
                <a href={results[key].match(markdown_link)[2]}>
                  {results[key].match(markdown_link)[1]}</a>
              {:else}
                {results[key]}
              {/if}
              </td>
            {/if}
          {/each}
        </tr>
      {/each}
    </tbody>
  </table>
</div>

<style>
  .container {
    display: flex;
    align-items: flex-start;
  }
  input {
    width: 10em;
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  table {
    font-family: Cantarell;
    color: #333;
  }
  a {
    color: rgb(0, 100, 200);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: rgb(0, 80, 160);
  }
</style>
